################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataTrackerService/DataTracker.FileDataService/obj
/DataTrackerService/DataTracker.FileDataService/bin/Debug/net5.0
/.vs/datatracker/v16/TestStore/0
/DataTrackerService/DataTrackerService/obj
/DataTrackerService/DataTrackerService/bin/Debug/net5.0
/DataTrackerService/DataTrackerService.Tests/obj
/DataTrackerService/DataTrackerService.Tests/bin/Debug/net5.0
/DataTrackerService/TestDataAggregator/obj
/DataTrackerService/TestDataAggregator/bin/Debug/net5.0
/DataTrackerService/DataTracker.Models/obj
/DataTrackerService/DataTracker.Models/bin/Debug/net5.0
/DataTrackerService/.vs/DeviceTrackerService/v16/TestStore/0/testlog.manifest
/DataTrackerService/.vs/DeviceTrackerService/v16/TestStore/0/000.testlog
/DataTrackerService/.vs/DataTrackerService/v16/TestStore/0/testlog.manifest
/DataTrackerService/.vs/DataTrackerService/v16/TestStore/0/000.testlog
/DataTrackerService/.vs/DataTrackerService/v16/TestStore/0
/DataTrackerService/.vs/DataTrackerService/DesignTimeBuild/.dtbcache.v2
/DataTrackerService/.vs/DataTrackerService/DesignTimeBuild
/DataTrackerService/.vs/DeviceTrackerService/v16/.suo
/DataTrackerService/.vs/DataTrackerService/v16/.suo
/.vs/slnx.sqlite
/.vs/datatracker/v16/.suo
/.vs/ProjectSettings.json
/DataTrackerService/.vs/DeviceTrackerService/DesignTimeBuild/.dtbcache.v2
